body{
    background-color: orange;
    padding: 5rem;

}

table {
  width: 60%;
}


details > summary {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    list-style: none;
}



details > summary::after {
  content: url(angeldown.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
}



details[open] > summary::after {
  transform: rotate(180deg);
}



details > summary::-webkit-details-marker {
  display: none;
}


.details-content {
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.footer {  
position: fixed;  
left: 10px;  
bottom: 5px;  
right: 10px;   
width: 95%;  
color: white;  
text-align: right;  
}  
